

/* Кнопка для создания новой задачи */
.create-task-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.create-task-btn:hover {
    background-color: #45a049;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin-top: 0;
}

.modal form div {
    margin-bottom: 15px;
}

.modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal input,
.modal textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.modal textarea {
    resize: vertical;
}

.modal button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.modal button:hover {
    background-color: #45a049;
}

.modal button[type="button"] {
    background-color: #ccc;
}

.modal button[type="button"]:hover {
    background-color: #bbb;
}


.task-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.task-month-group h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}


.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.task-card-wrapper {
    width: 250px;
    margin-bottom: 20px;
}

.task-card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 5px;
}

.task-card h3, .task-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-card h3:hover, .task-card p:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

/* Стили для завершенных задач */
.task-card.completed {
    background-color: #e0ffe0;
    border: 1px solid #4CAF50;
}

.task-card.completed h3 {
    color: #4CAF50;
}

.task-card.completed p {
    color: #2e7d32;
}

.task-card .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-card button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.task-card button:hover {
    background-color: #45a049;
}

.task-card button + button {
    background-color: #f44336;
}

.task-card button + button:hover {
    background-color: #e53935;
}
